#!/usr/bin/env zsh

alias h="n-history"

alias checkxlog='lnav ~/.xsession-errors'

alias wakebender="wol d8:d3:85:b2:dd:c5"

alias mdfzf="fd -e .md | fzf --preview-window=left --preview='cat {}' --bind 'enter:execute(micro {})'"

alias scratchpad="fd -a -t f --full-path $Workspace/scratchpad/ | fzf --tac --reverse --cycle --bind 'return:execute(micro {})'"

alias xev="xev -event keyboard"

alias dif="kitty +kitten diff"

alias login="kitty +kitten ssh"

alias mocp="mocp -T /usr/share/moc/themes/green_theme"

alias jekyll="bundle exec jekyll"

alias lib="cd $HOME/Library"

alias an="cd $ANSIBLE_HOME"

alias ytdla="youtube-dl -o '(artist)s.%(title)s.%(ext)s' -x --audio-format flac --external-downloader aria2c"

alias ytdlv="youtube-dl -o '(artist)s.%(title)s.%(ext)s' -f mp4 --external-downloader aria2c"

# open rb file in pry
alias loadpry='pry -r'

alias gem="sudo gem"

alias baudline_jack="baudline_jack -channels 4 -jack"

alias yfp="yadm fetch && yadm pull"
alias ypush="yadm --git-dir=$HOME/.local/share/yadm/repo.git --work-tree=$HOME push"


alias yd="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME"
alias yc="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME"
alias ys="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME"


alias pulse_list_sources="pacmd list-sources | grep -e 'index:' -e device.string -e 'name:'"

alias vnc_serv="x11vnc -ncache_cr -display :0"

alias changed="fd -H -t d -t f -E "*.ray-snapshots" -E "qutebrowser" -E "google-chrome" -E "*.git" -E ".cache/" -E "[Cc]ache" --changed-within 2hours | sort"

alias bin="cd ~/bin/"
