
if [ -x "$(command -v google-chrome-stable)" ]; then
    export BROWSER="google-chrome-stable"
fi

export LADSPA_PATH="/usr/lib/ladspa:/usr/local/lib/ladspa"
export LADSPA_RDF_PATH="/usr/share/ladspa/rdf"

export ECASOUND=ecasound

export DISABLE_AUTO_TITLE=true

##################################
#  operator elements
##################################
export WORKSPACE="$HOME/Workspace"
export SOUNDS="$HOME/Library/sounds"
export SOUNDFONTS="$HOME/Library/soundfonts"

export RAY_PARENT_SCRIPT_DIR="$HOME/Sessions/ray-scripts"

export KITTYSOCK=unix:/tmp/kitty-soundbot

export ANSIBLE_HOME="$WORKSPACE/syncopated"
export ANSIBLE_CONFIG="$ANSIBLE_HOME/ansible.cfg"
export INVENTORY="$ANSIBLE_HOME/inventory.yml"
export PLAYBOOK="$ANSIBLE_HOME/playbooks/syncopated.yml"

if [[ $USER == 'aur_builder' ]]; then
  export PACKAGES="$HOME/Packages"
  export REPOSITORY_LOCAL="$HOME/Repository"

  export REPOSITORY_REMOTE="ec2-user@soundbot.hopto.org"
  export PKGBUILDS="${WORKSPACE}/pkgbuilds"
fi

#export CFLAGS="-ffast-math -msse -msse2 -mfpmath=sse"
#export CXXFLAGS="-ffast-math -msse -msse2 -mfpmath=sse"
#export MAKEFLAGS="-ffast-math -msse -msse2 -mfpmath=sse"

#declare -rx col_gray='$FG[240]'
#declare -rx col_orange='$FG[202]'
#declare -rx col_pink='$FG[201]'
#declare -rx col_purple='$FG[093]'
#declare -rx col_red='$FG[124]'
#declare -rx col_yellow='$FG[011]'
#declare -rx col_hotpink='$FG[013]'
#declare -rx col_wine='$FG[001]'
#declare -rx col_random='$FG[088]'

# gum options
declare -rx GUM_SPIN_SPINNER="pulse"
declare -rx GUM_SPIN_ALIGN="right"
declare -rx GUM_SPIN_SHOW_OUTPUT=true
declare -rx GUM_SPIN_SPINNER_FOREGROUND=033
declare -rx GUM_SPIN_TITLE_FOREGROUND=024

declare -rx GUM_CHOOSE_CURSOR="> "
declare -rx GUM_CHOOSE_CURSOR_PREFIX="[ ] "
declare -rx GUM_CHOOSE_SELECTED_PREFIX="[✓] "
declare -rx GUM_CHOOSE_UNSELECTED_PREFIX="[ ] "
declare -rx GUM_CHOOSE_CURSOR_FOREGROUND=046
declare -rx GUM_CHOOSE_ITEM_FOREGROUND=045
declare -rx GUM_CHOOSE_SELECTED_FOREGROUND=027

declare -rx GUM_CONFIRM_PROMPT_FOREGROUND=027
declare -rx GUM_CONFIRM_SELECTED_FOREGROUND=064
declare -rx GUM_CONFIRM_UNSELECTED_FOREGROUND=010
