[TextView]
bullet_icon_size=GTK_ICON_SIZE_LARGE_TOOLBAR
indent=30
tabs=None
linespacing=3
wrapped-lines-linespacing=0
font={{ font.primary.name }} 15
justify=
background=#FFFFFF

[Tag strong]
weight=PANGO_WEIGHT_BOLD
foreground={{ colors.zim.strong }}

[Tag emphasis]
style=PANGO_STYLE_ITALIC
foreground={{ colors.zim.emphasis }}

[Tag mark]
foreground={{ colors.zim.mark.foreground }}
background={{ colors.zim.mark.background }}

[Tag strike]
strikethrough=True
foreground={{ colors.zim.strike }}
linespacing=10

[Tag pre]
foreground={{ colors.zim.pre }}
family=monospace
wrap-mode=GTK_WRAP_WORD_CHAR
indent=20

[Tag link]
foreground={{ colors.zim.link }}
font={{ font.primary.name }} 14
#underline=PANGO_UNDERLINE_SINGLE

[Tag tag]
foreground={{ colors.zim.tag }}

[Tag h1]
foreground={{ colors.zim.h1 }}
underline=PANGO_UNDERLINE_SINGLE
weight=PANGO_WEIGHT_BOLD
font={{ font.primary.name }} 20

[Tag h2]
foreground={{ colors.zim.h2 }}
weight=PANGO_WEIGHT_BOLD
underline=PANGO_UNDERLINE_SINGLE
font={{ font.primary.name }} 16
linespacing=10

[Tag h3]
foreground={{ colors.zim.h3 }}
weight=PANGO_WEIGHT_BOLD
font={{ font.mono.name }} 16

[Tag h4]
foreground={{ colors.zim.h4 }}
weight=PANGO_WEIGHT_BOLD
font={{ font.primary.name }} 14

[Tag h5]
foreground={{ colors.zim.h5 }}
weight=PANGO_WEIGHT_BOLD
font={{ font.primary.name }} 12

[Tag sub]
foreground={{ colors.zim.sub }}

[Tag sup]
foreground={{ colors.zim.sub }}

[Tag checked-checkbox]

[Tag xchecked-checkbox]

[Tag migrated-checkbox]

[Tag code]
