[theme]
theme = "syncopated"
[icons]
icons = "awesome6"

[[block]]
block = "sound"
format = " $icon $output_name{ $volume|} "
[[block.click]]
button = "left"
cmd = "pavucontrol"
[[block.click]]
button = "middle"
cmd = "alacritty --class 'alsamixer' --title 'alsamixer' -e alsamixer -D hw:0"

[[block]]
block = "load"
format = " $icon $1m.eng(w:4) "
interval = 1
[[block.click]]
button = "left"
cmd = "kitty --class 'govna' -e /usr/local/bin/set-govna.sh performance"
[[block.click]]
button = "right"
cmd = "kitty --class 'govna' -e /usr/local/bin/set-govna.sh powersave"
[[block.click]]
button = "middle"
cmd = "alacritty --class 'htop' --title 'htop' -e htop"

# [[block]]
# block = "custom"
# format = " \uf0c2 "
# cycle = ["kitty --class 'govna' -e /usr/local/bin/set-govna.sh performance", "kitty --class 'govna' -e /usr/local/bin/# set-govna.sh powersave"]
# interval = "once"
# [[block.click]]
# button = "left"
# cmd = "<command>"

[[block]]
block = "menu"
text = " \uf0c3 "
[[block.items]]
display = " -&gt;   noteinfo   &lt;-"
cmd = "kitty --class 'noteinfo' -e /usr/local/bin/noteinfo.rb"
[[block.items]]
display = " -&gt; brightness &lt;-"
cmd = "kitty --class 'brightness' -e /usr/local/bin/brightness.rb"
#confirm_msg = "Are you sure you want to power off?"
# [[block.items]]
# display = " -&gt;  Reboot   &lt;-"
# cmd = "/usr/bin/uxterm"
# confirm_msg = "Are you sure you want to reboot?"

[[block]]
block = "custom"
command = "sed 's/  //' <(curl 'https://wttr.in/?format=1' -s)"
interval = 1800

[[block]]
block = "time"
interval = 60
[block.format]
full = " $icon $timestamp.datetime(f:'%a %Y-%m-%d %R', l:en_US) "
short = " $icon $timestamp.datetime(f:%R) "
[[block.click]]
button = "left"
cmd = "uxterm -hold -e cal -s"

[[block]]
block = "battery"
format = " $percentage {$time |} "
if_command = "test -e /sys/class/power_supply/BAT0"
