[Desktop Entry]
Version=1.0
Type=Application
Name=mcfx_filter_o1
Comment=mcfx_filter_o1
Exec=mcfx_filter_o1
Icon=mcfx
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

