[Desktop Entry]
Version=1.0
Type=Application
Name=mcfx_filter_o5
Comment=mcfx_filter_o5
Exec=mcfx_filter_o5
Icon=mcfx
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

