[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_directional_loudness_o3
GenericName=Spherical Soundfield Amplifier o3
Comment= o3
Exec=ambix_directional_loudness_o3
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

