[Default Applications]
inode/directory=thunar.desktop
text/html=google-chrome.desktop
x-scheme-handler/http=google-chrome.desktop
x-scheme-handler/https=google-chrome.desktop
x-scheme-handler/about=google-chrome.desktop
x-scheme-handler/unknown=google-chrome.desktop
image/png=feh.desktop
application/pdf=qpdfview.desktop
text/x-ruby=nvim.desktop
text/x-yaml=nvim.desktop
text/markdown=nvim.desktop
text/x-python=nvim.desktop
application/octet-stream=nvim.desktop
video/x-matroska=mpv.desktop
video/mp4=mpv.desktop
text/x-csrc=nvim.desktop
x-scheme-handler/tel=google-chrome.desktop
application/x-shellscript=nvim.desktop
x-scheme-handler/mailto=google-chrome.desktop
text/x-log=userapp-alacritty -e lnav-0R1WY1.desktop
text/plain=micro.desktop
image/jpeg=feh.desktop
image/webp=feh.desktop

[Added Associations]
inode/directory=atom.desktop;
image/png=feh-usercreated.desktop;
video/webm=mpv.desktop;
audio/x-wav=ocenaudio.desktop;mpv.desktop;
video/x-matroska=mpv.desktop;
audio/x-sfz=nvim.desktop;
audio/flac=ocenaudio.desktop;
application/x-trash=nvim.desktop;
application/pdf=qpdfview.desktop;
application/x-ruby=nvim.desktop;
application/x-yaml=nvim.desktop;
text/markdown=nvim.desktop;
text/x-python=nvim.desktop;
application/octet-stream=TouchOSC.desktop;Alacritty.desktop;nvim.desktop;
video/mp4=mpv.desktop;
text/x-csrc=nvim.desktop;atom.desktop;
application/x-qsampler-session=nvim.desktop;
image/jpeg=feh.desktop;sxiv.desktop;imv-folder.desktop;
image/x-portable-graymap=feh.desktop;
