[NotebookList]
Default=~/Notebooks/Syncopated
1=~/Notebooks/Syncopated
2=~/Notebooks/Local
3=~/Notebook

[Notebook 1]
uri=~/Notebooks/Syncopated
name=Syncopated
interwiki=None
icon=None

[Notebook 2]
uri=~/Notebooks/Local
name=Local
interwiki=None
icon=None

[Notebook 3]
uri=~/Notebook
name=Notebook
interwiki=None
icon=None
