[QuickNoteDialog]
windowsize=(735, 452)
lastnotebook=file:///home/b08x/Notebooks/Syncopated
open_page=True
new_page=False

[Namespaces]
file:///home/b08x/Notebooks/Syncopated=Index:SyncopatedOS:Issues

