https://www.baeldung.com/linux/silencing-bash-output Silencing the Output of a Bash Command | Baeldung on Linux
https://gist.github.com/gpsoft/cc000c0a91f9b1bce8c5cd7c13c41322 How to use `dialog` command in a shell script.
https://start.duckduckgo.com/ DuckDuckGo — Privacy, simplified.
https://github.com/jaspervdj/patat jaspervdj/patat: Terminal-based presentations using Pandoc
https://www.florian-diesch.de/software/arronax/ Arronax
https://i3wm.org/docs/userguide.html#focus_on_window_activation i3: i3 User’s Guide
https://ostechnix.com/create-gui-dialog-boxes-in-bash-scripts-with-whiptail/ How To Create GUI Dialog Boxes In Bash Scripts With Whiptail In Linux
