pkgbase = ambix-o3
	pkgdesc = Ambisonic VST, LV2 plug-ins with variable order for use in Digital Audio Workstations
	pkgver = 0.2.10
	pkgrel = 1
	url = https://github.com/kronihias/ambix
	arch = x86_64
	groups = lv2-plugins
	groups = pro-audio
	groups = vst-plugins
	license = GPL2
	checkdepends = lv2lint
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = eigen
	makedepends = fftw
	makedepends = freetype2
	makedepends = freeglut
	makedepends = gendesk
	makedepends = glu
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = jack
	makedepends = liblo
	makedepends = zita-convolver
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	optdepends = jack: for standalone applications
	optdepends = lv2-host: for LV2 plugins
	optdepends = vst-host: for VST plugins
	provides = ambix-o3
	source = ambix-0.2.10.tar.gz::https://github.com/kronihias/ambix/archive/v0.2.10.tar.gz
	source = ambix-0.2.10-lv2_plugin_uri.patch::https://github.com/kronihias/ambix/pull/28/commits/fa5849377b0eeddbedd1d99768cfc9ad9933d751.patch
	source = ambix-0.2.10-gcc9.1.0.patch::https://github.com/kronihias/ambix/pull/32/commits/30d9e8df4501d2dd5c35a09a14dd705413de44e7.patch
	sha256sums = 45aef208ba1953021bda7851f3cf458add8f3578521800fc690384a629447c2b
	sha256sums = 898f353b916a56224cfdebbeffe8832541ab92d9dc73dc63ed8da72c4a8a1c7f
	sha256sums = c5ecb77a07a38953a514eebe5affc7b42334ffd5d07e0a35742234e340e90a65

pkgname = ambix-o3
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	depends = libasound.so
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = libfreetype.so
	depends = libzita-convolver.so
