[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_vmic_o3
GenericName=Ambisonics Virtual Microphone o3
Comment= o3
Exec=ambix_vmic_o3
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

