[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_mirror_o3
GenericName=Soundfield Mirroring o3
Comment= o3
Exec=ambix_mirror_o3
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

