#!/usr/bin/env zsh

# system power
alias reboot="sudo shutdown -r now"
alias shutdown="sudo shutdown -h now"

# list input devices
alias lsin="sudo libinput list-devices"

# alias for history
alias h="history 1"
# alias for clear
alias cl="tput clear && tput cup 1"
# confirm before overwriting something
alias cp="cp -i"
# confirm before overwriting something
alias mv="mv -iv"
# human-readable sizes
alias df='df -h'

# use exa for directory listing
alias ls="exa -alh --group-directories-first -g --no-filesize -s modified"
alias ll="printf '\n' && exa -lH -g --group-directories-first --icons"
alias llh="printf '\n' && exa -alH -g --group-directories-first --icons"

# if available use bat instead of cat
if [ -x "$(command -v bat)" ]; then
  alias cat="bat --theme 'Solarized (dark)' -p"
fi

# mlocate
alias updatedb='sudo updatedb'
alias locate='sudo locate'

# view a file without comments `nocomment file.txt`
alias nocomment='grep -v "^\($\|#\|;;\|;\|\n\)"'

# view logs with lnav
alias checklog='sudo journalctl -b -o json | lnav -f ~/.config/lnav/checklog.lnav'
alias taillog='sudo journalctl -f -o json | lnav -f ~/.config/lnav/checklog.lnav'

# network troubleshooting
#TODO: convert to function
alias dig="dig +nocmd +multiline +noall +answer"
alias mtr="sudo mtr -t"
alias netcon="lsof -i"
alias netlog='sudo journalctl -g "iwd|Network" -f -o json | lnav'
alias networklogdebug="sudo nmcli general logging level DEBUG domains ALL"
alias networkloginfo="sudo nmcli general logging level INFO domains ALL"
alias p="sudo ping -c 16 google.com"

# paru
alias pfile="paru -Fy"
alias psearch="paru -Ss"
alias pi="paru -S --noconfirm --batchinstall"
alias pui="paru -Rdd"
alias listi="paru -Qe | awk '{ print $1 }'"
alias pup="paru -Syyuu --batchinstall"
alias pc="paru -Scc --noconfirm"

# git
alias gd="git diff --name-status | grep -v D | awk '{print $2}' | fzf --preview 'git diff {}'"
alias gc="env GIT_EDITOR=micro git commit -a && gum confirm "push changes" && git push"
alias gfp="git fetch && git pull"
alias gp="git push"
alias glog="git log --oneline --decorate --graph --all"
alias gs="git status"

#turn off pcspkr
alias beepoff="rmmod pcspkr"

# use most when viewing man pages
alias man="PAGER='most' man "

# alias cpup="sudo cpupower -c all frequency-set -g performance"
alias cpu-max='tuned-adm profile latency-performance'
alias cpu-balanced='tuned-adm profile balanced'
alias cpu-min='tuned-adm profile laptop-battery-powersave'

# store current alsa state in a file
# load it in .xprofile
alias alsastore="alsactl store -f ~/.asound.state"

# alias for ssh
alias connect="ssh"

# turn off monitors
alias monitoroff="xset dpms force off"

# shortcut for ranger
alias ra="ranger"

# sampler
alias sampler="fd -e flac -e wav -e opus -e mp3 --strip-cwd-prefix .  | fzf --preview='mpv {}' --preview-window=30% --tac --reverse -m --cycle --bind 'return:execute(play {})'"
alias samplerv2="fd -e flac -e wav -e opus -e mp3 . '/home/b08x'  | fzf --preview='mpv {}' --preview-window '~3,follow' --tac --reverse -m --cycle   --bind 'ctrl-/:toggle-preview' --bind 'return:execute(mpv {}),ctrl-y:change-preview-window(down|hidden|)'"

# download
alias dl="aria2c"

#exit
alias e="exit"

#pgrep
alias pgrep="pgrep -a"
