#!/usr/bin/env zsh

alias checkxlog='lnav ~/.xorg.log'

alias wakebender="wol d8:d3:85:b2:dd:c5"

alias xev="xev -event keyboard"

alias dif="kitty +kitten diff"

alias login="kitty +kitten ssh"

alias mocp="mocp -T /usr/share/moc/themes/green_theme"

alias jekyll="bundle exec jekyll"

alias lib="cd $HOME/Library"

alias an="cd $PLAYBOOKS"

alias ytdla="youtube-dl -o '(artist)s.%(title)s.%(ext)s' -x --audio-format flac --external-downloader aria2c"

alias ytdlv="youtube-dl -o '(artist)s.%(title)s.%(ext)s' -f mp4 --external-downloader aria2c"

# open rb file in pry
alias loadpry='pry -r'

alias gem="sudo gem"

alias baudline_jack="baudline_jack -channels 4 -jack"

alias yfp="yadm fetch && yadm pull"
alias yp="yadm push"


alias yd="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME"
alias yc="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME"
alias ys="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME"


alias pulse_list_sources="pacmd list-sources | grep -e 'index:' -e device.string -e 'name:'"

alias vnc_serv="x11vnc -ncache_cr -display :0"

alias changed="fd -H -t d -t f -E "*.ray-snapshots" -E "qutebrowser" -E "google-chrome" -E "*.git" -E ".cache/" -E "[Cc]ache" --changed-within 2hours | sort"

# sampler
alias sampler="fd -e flac -e wav -e opus -e mp3 --strip-cwd-prefix .  | fzf --preview='mpv {}' --preview-window=30% --tac --reverse -m --cycle --bind 'return:execute(play {})'"

alias samplerv2="fd -e flac -e wav -e opus -e mp3 . '/home/b08x'  | fzf --preview='mpv {}' --preview-window '~3,follow' --tac --reverse -m --cycle   --bind 'ctrl-/:toggle-preview' --bind 'return:execute(mpv {}),ctrl-y:change-preview-window(down|hidden|)'"

alias mountchroot="sudo mount --mkdir -t tmpfs -o defaults,size=8G tmpfs /mnt/chroots/arch"

alias unmountchroot="sudo umount /mnt/chroots/arch"
