
if [ -x "$(command -v google-chrome-stable)" ]; then
    export BROWSER="google-chrome-stable"
fi

export LADSPA_PATH="/usr/lib/ladspa:/usr/local/lib/ladspa"
export LADSPA_RDF_PATH="/usr/share/ladspa/rdf"

export ECASOUND=ecasound

export DISABLE_AUTO_TITLE=true

##################################
#  operator elements
##################################
export WORKSPACE="$HOME/Workspace"
export SOUNDS="$HOME/Library/sounds"
export SOUNDFONTS="$HOME/Library/soundfonts"

export RAY_PARENT_SCRIPT_DIR="$HOME/Sessions/ray-scripts"

export KITTYSOCK=unix:/tmp/kitty-soundbot

export ANSIBLE_HOME="$WORKSPACE/syncopated"
export ANSIBLE_CONFIG="$ANSIBLE_HOME/ansible.cfg"
export INVENTORY="$ANSIBLE_HOME/inventory.yml"
export PLAYBOOKS="$ANSIBLE_HOME/playbooks"

export PACKAGES="$HOME/Packages"
export REPOSITORY_LOCAL="$HOME/Repository"
export REPOSITORY_REMOTE="ec2-user@soundbot.hopto.org"
export PKGBUILDS="$WORKSPACE/pkgbuilder/pkgbuilds"

#export CFLAGS="-ffast-math -msse -msse2 -mfpmath=sse"
#export CXXFLAGS="-ffast-math -msse -msse2 -mfpmath=sse"
#export MAKEFLAGS="-ffast-math -msse -msse2 -mfpmath=sse"

# gum options
export GUM_SPIN_SPINNER="pulse"
export GUM_SPIN_ALIGN="right"
export GUM_SPIN_SHOW_OUTPUT=true
export GUM_SPIN_SPINNER_FOREGROUND=033
export GUM_SPIN_TITLE_FOREGROUND=024

export GUM_CHOOSE_CURSOR="> "
export GUM_CHOOSE_CURSOR_PREFIX="[ ] "
export GUM_CHOOSE_SELECTED_PREFIX="[✓] "
export GUM_CHOOSE_UNSELECTED_PREFIX="[ ] "
export GUM_CHOOSE_CURSOR_FOREGROUND=046
export GUM_CHOOSE_ITEM_FOREGROUND=045
export GUM_CHOOSE_SELECTED_FOREGROUND=027

export GUM_CONFIRM_PROMPT_FOREGROUND=027
export GUM_CONFIRM_SELECTED_FOREGROUND=064
export GUM_CONFIRM_UNSELECTED_FOREGROUND=010
