---

- name: starting network tasks
  debug:
    msg: "Starting network tasks"

- import_tasks: networkmanager.yml
  tags: ['networkmanager']

- import_tasks: autofs.yml
  when: autofs_client is defined
  tags: ['autofs']
