pkgbase = mcfx
	pkgdesc = Ambix VST Multichannel Audio Plug-in Suite
	pkgver = 0.5.11
	pkgrel = 1
	url = https://github.com/kronihias/mcfx
	arch = x86_64
	groups = pro-audio
	groups = vst-plugins
	license = GPL2
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = eigen
	makedepends = fftw
	makedepends = freetype2
	makedepends = freeglut
	makedepends = gendesk
	makedepends = glu
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = jack2
	makedepends = liblo
	makedepends = zita-convolver
	makedepends = vst3sdk
	makedepends = vst2sdk
	makedepends = gtk3
	makedepends = webkit2gtk
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	optdepends = jack: for standalone applications
	optdepends = vst-host: for VST plugins
	source = mcfx-0.5.11.tar.gz::https://github.com/kronihias/mcfx/archive/v0.5.11.tar.gz
	sha256sums = 151c2a4a5ebe33c82458a40ffb3543f2bfd6bd4aadcb04f9d91d28e010b27826

pkgname = mcfx
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	depends = libasound.so
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = libfreetype.so
	depends = libzita-convolver.so
