[Desktop Entry]
Version=1.0
Type=Application
Name=GranularEncoder
GenericName=Ambisonic Synthesizer
Comment=An Ambisonic granular synthesis plug-in
Exec=GranularEncoder
Icon=IEMPluginSuite
Terminal=false
StartupNotify=false
Categories=IEMPluginSuite,Ambisonics;
