[Desktop Entry]
Version=1.0
Type=Application
Name=StereoEncoder
GenericName=Ambisonic Encoder
Comment=Encodes mono or stereo audio signals into the Ambisonic domain.
Exec=StereoEncoder
Icon=IEMPluginSuiteSmall.png
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics
