[Desktop Entry]
Version=1.0
Type=Application
Name=DirectivityShaper
GenericName=Directivity Shaper
Comment=Filter input signal into four independent bands, to which different directivity patterns can be applied to.
Exec=DirectivityShaper
Icon=IEMPluginSuiteSmall.png
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics
