[theme]
theme = "syncopated"
[icons]
icons = "awesome6"

[[block]]
block = "sound"
format = " $icon $output_description{ $volume|} "
[[block.click]]
button = "left"
cmd = "pavucontrol"
[[block.click]]
button = "right"
cmd = "alsamixer"

[[block]]
block = "load"
format = " $icon 1min avg: $1m.eng(w:4) "
interval = 1
[[button.click]]
button = "left"
cmd = "kitty --class 'govna' -e /usr/local/bin/set-govna.sh"

[[block]]
block = "custom"
cycle = ["echo ON", "echo OFF"]
interval = 1
[[block.click]]
button = "left"
cmd = "<command>"

[[block]]
block = "custom"
command = "echo \uf0c2"
interval = "once"
[[button.click]]
button = "left"
cmd = "kitty --class 'brightness' -e /usr/local/bin/brightness.rb"

[[block]]
block = "custom"
command = "echo \uf0c3"
[[button.click]]
button = "left"
cmd = "kitty --class 'noteinfo' -e /usr/local/bin/noteinfo.rb"

[[block]]
block = "custom"
command = "sed 's/  //' <(curl 'https://wttr.in/?format=1' -s)"
interval = 600

[[block]]
block = "time"
interval = 60
[block.format]
full = " $icon $timestamp.datetime(f:'%a %Y-%m-%d %R %Z', l:en_US) "
short = " $icon $timestamp.datetime(f:%R) "
[[button.click]]
button = "left"
cmd = "uxterm -hold -e cal -s"

[[block]]
block = "battery"
if_command = "test -e /sys/class/power_supply/BAT0"
