[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_encoder_o1
GenericName=Ambisonics Panning o1
Comment= o1
Exec=ambix_encoder_o1
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

