[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_vmic_o1
GenericName=Ambisonics Virtual Microphone o1
Comment= o1
Exec=ambix_vmic_o1
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

