[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_binaural_o1
GenericName=Binaural Decoder o1
Comment= o1
Exec=ambix_binaural_o1
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics
