[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_directional_loudness_o1
GenericName=Spherical Soundfield Amplifier o1
Comment= o1
Exec=ambix_directional_loudness_o1
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

