[Desktop Entry]
Version=1.0
Type=Application
Name=ambix_converter_o3
GenericName=Ambisonics Formats Converter o3
Comment= o3
Exec=ambix_converter_o3
Icon=ambix
Terminal=false
StartupNotify=false
Categories=Application;Audio;Ambisonics

